// $isRtl: false;
// $left-dir:  left !default;
// $right-dir: right !default;

$isRtl: true;
$left-dir:  right !default;
$right-dir: left !default;




$blue: rgb(53, 117, 215);
$white: rgb(255,255,255);
